* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.25rem;
  overflow-x: hidden;
}

/* Utility Classes */
a {
  cursor: pointer;
  text-decoration: none;
  border-radius: 8px;
}
a:hover {
  color: coral;
  border-bottom: 1px solid royalblue;
}
button {
  width: fit-content;
  background-color: royalblue;
  color: white;
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 0.75rem 1rem;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: coral;
}
h1,
h2,
h3,
h4 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.text-highligh-color-primary {
  color: royalblue;
}
.text-highligh-color-secondary {
  color: coral;
}

/* Header and Footer */
header,
footer {
  width: 100%;
  min-height: 100px;
  border-radius: 5px;
  padding: 1rem 5rem;
}

header {
  border-bottom: 2px solid #eee;
}

/* Navigation */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
}

img.logo {
  height: 50px;
  flex: 1;
  cursor: pointer;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav a {
  padding: 1rem;
  color: #262626;
}

nav .humburger{
  display: none;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
}

/* Hero */

.hero,
.services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  background: linear-gradient(75deg, white, #4169e124 75%, #ff7f5041);
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero img,
.services img {
  width: 100%;
}

/* About */
.about {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.about p {
  font-family: inter;
  font-size: 1.5rem;
}

/* Services */
.services {
  background: linear-gradient(45deg, coral, white 75%, royalblue);
}
.services-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cta-form {
  display: flex;
}

.cta-form input {
  flex: 1;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  outline: none;
  padding: 1rem 2rem;
  font-weight: bold;
}

form button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Pricing */

.pricing {
  background-color: #4169e1a1;
  display: flex;
  flex-direction: column;
}

.pricing-cards {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
  padding: 5rem 2.5rem;
  background-color: #8080803d;
  border-radius: 8px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 25vw;
  min-height: 50vh;
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
}

.card p {
  flex: 1;
  margin: 1rem 0;
}

.card button {
  width: 100%;
}

/* Contact */
.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #87cfeb5e;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 5rem;
  background-color: skyblue;
  padding: 2.5rem;
  margin: 2.5rem;
  border-radius: 8px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
input,
textarea {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  outline: none;
  border: 1px solid gray;
}

/* Footer */
footer {
  font-size: 0.9rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #2626268c;
}

/* Media Queries */

/* Small devices (portrait tablets and large phones, 768px and up) */
@media only screen and (max-width: 768px) {
  body{
    font-size: 1rem;
  }

   /* Navigation */
  img.logo {
    height: 40px;
  }
  nav a {
    padding: 0.8rem;
  }
 section {
    padding: 1rem 2.5rem;
  }

  /* Services */
   .cta-form input {
       padding: 1rem;
  }
}

/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
body {
   font-family: 1rem;
  }

  /* Utility Classes */
  button {
    padding: 0.75rem;
  }

  /* Header and Footer */
  header,
  footer {
    min-height: 65px;
    padding: 1rem 1.5rem;
  }
  header {
    border-bottom: 2px solid #eee;
  }

  /* Navigation */
  header ul a, header button {
 display: none;
  }
 

  img.logo {
    height: 32px;
    flex: 1;
    cursor: pointer;
  }

  .navbar ul {
    display: flex;
    align-items: center;
    list-style-type: none;
  }

  nav a {
    padding: 1rem;
    color: #262626;
  }

  /* Main */
   section {
    padding: 1rem 1.5rem;
  }

  /* Hero */

  .hero,
  .services {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .hero-content {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero img,
  .services img {
    width: 100%;
  }

  /* About */
  .about {
    min-height: 50vh;
  }

  .about p {
    font-size: 1rem;
  }

  /* Services */
  .services-content {
  text-align: center;
  }

  .cta-form input {
    padding: 0.8rem 1rem;
  }

  /* Pricing */
  .pricing-cards {
   flex-direction: column; 
    margin: 1rem 0;
    padding: 2.5rem;
  }

  .card {
    width: 50vw;
    min-height: 50vh;
    padding: 1rem;
  }

  /* Contact */
  .contact-info {
    flex-direction: column;
    gap: 1rem;
  }

  /* Footer */
  footer {
    font-size: 0.8rem;
  }

}







